services:
    frontend:
        image: !reset null # https://stackoverflow.com/a/76913131
        build:
            context: ./frontend
    backend:
        image: !reset null
        build:
            context: ./backend
